@{
    ViewBag.Title = "Home Page";
}
<h3>@ViewBag.Message</h3>
<div class="jumbo">
    <div class="jumbotron">

        <h1>Virtual I</h1>
        <p class="lead">Create you personal profile that will help<br> you to find people like you.</p>
        <p class="lead">Have fun participating in interactive self<br> understanding journey.</p>

        <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    </div>


    <div class="row">
        <p class="pon">V3.</p>
    </div>
</div>