

<div class="question">
    Enter Your question
</div>
<div class="answer">
    <input type="text" name="questionName" />
</div>


<div class="form-group">
    <div class="answer-button">
        <input type="submit" value="Check if available" class="btn btn-default" />
    </div>
</div>
